{
  "root": true,
  "extends": "eslint-config-egg/typescript",
  "rules": {
    "quotes": "off",
    "@typescript-eslint/indent": ["error", "tab"],
    "array-bracket-spacing": "off",
    "comma-dangle": "off"
  }
}
