{
  "root": true,
  "extends": "eslint-config-egg/typescript",
  "rules": {
    "quotes": "off",
    "@typescript-eslint/indent": ["error", "tab"],
    "@typescript-eslint/no-var-requires": "off",
    "array-bracket-spacing": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "space-before-function-paren": "off",
    "@typescript-eslint/ban-ts-comment": "off",
  }
}
